/V1/Face_recognition/face_recognition/arcface/weights/
/V1/Face_recognition/__pycache__
/V1/Face_recognition/face_recognition/arcface/__pycache__
/V1/Detection/Detection/__pycache__
/V1/Detection/web/__pycache__
/V1/ID_detection/__pycache__
/V1/ID_detection/yolov11/__pycache__
/venv
/V1/Detection/web/static/images
V1/Face_recognition/face_alignment/__pycache__
V1/project files
env3.7
Previous_pipeline.tldr
project files.zip
requirements2.txt
FaceRecognizer
V1/save.py
