absl-py
Django
djongo
dlib
face-recognition
fastapi
h5py
keras
matplotlib
ml-dtypes
mtcnn
networkx
numpy
opencv-python
pandas
pymongo
scikit-image
scipy
tensorflow
torch
torchvision
ultralytics
uvicorn
dotenv
mediapipe