        /* Custom Hero Section Styling */
        header {
            /* background: linear-gradient(90deg, rgba(0, 128, 0, 0.8), rgba(255, 255, 255, 0.7)); */
            /* color: white; */
            padding: 10px 0;
        }

        h1 {
            font-size: 2.5rem;
            color: #2d3748; /* Tailwind Color */
        }

        .modal-body {
            background-color: #f8f9fa; /* Light background for modal */
        }
        .modal {
            z-index: 1050; /* Higher than other elements on the page */
        }

        .camera-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 10px;
        }

        .camera {
            background-color: #e2e8f0; /* Light background color for camera */
            padding: 20px;
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }

        .camera:hover {
            transform: translateY(-10px);
        }

        .modal-header {
            background-color: #4CAF50;
            color: white;
        }
        a{
            text-decoration: none;
        }
        /* Footer Section Styling */
footer {
    background-color: #4CAF50; /* Dark green background */
    color: white; /* White text for contrast */
    text-align: center; /* Centered text */
    padding: 20px 0; /* Padding for spacing */
    position: relative; /* Allows for other positioned elements */
    z-index: 100; /* Keeps footer above other content */
}

.urls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 50;
    background-color: #f8f9fa;
    width: 100%;
    display: flex; /* Flexbox for alignment */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 10px; /* Space between links and copyright text */
    text-decoration: none;
}
.button {
    background-color: #13980e; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    text-decoration: none; /* Remove underline */
    font-size: 1rem; /* Font size */
    border-radius: 5px; /* Rounded corners */
    margin: 0 10px; /* Space between buttons */
    transition: background-color 0.3s ease; /* Smooth background color change */
}

.button:hover {
    background-color: #117a0e; /* Darker green on hover */
}

footer p {
    margin: 0; /* Remove default margin */
    font-size: 0.9rem; /* Slightly smaller font size for copyright */
}
